body{
    color: white;
    background-color: black;
}

section {

    background-color: rgb(163, 157, 157);
    padding-top: 80px;
    padding-bottom: 80px;
    display:flex;
    justify-content: center;
}
.texto-video1{
    margin:10%;
}
header{
    margin: 20px;
    font-size:small;
}