body{
    color: white;
    background-color: black;
}

section {

    background-color: rgb(163, 157, 157);
    padding-top: 80px;
    padding-bottom: 80px;
    display:flex;
    justify-content: center;
}
.texto-video1{
   margin: 10%;
   padding-right: 20%;
}
header{
    margin: 20px;
    font-size: 30px;
    color: rgb(178, 228, 230);
    text-align: left;
}

img{
    height: 200px;
}

.categoria-videos{
display: flex;
overflow-x: auto;
padding-right: 10px;
gap: 20px;
}

h2{
    padding-left: 20px;
}