body{
    color: white;
    background-color: black;
}

section {

    background-color: rgb(163, 157, 157);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    justify-content: center;
}
.texto-video1{
    margin:30%;
}
header{
    margin: 20px;
    font-size: 30px;
    color: rgb(178, 228, 230);
    text-align: left;
}
